@import "../../assets/scss/utils/variables";

.quizCreator {
   display: flex;
   justify-content: center;
   padding-top: 50px;
   padding-bottom: 20px;
   flex-grow: 1;
   width: 100%;
   background: linear-gradient(
      270deg,
      #15ac79 0%,
      #12a574 50%,
      #6dc7a9 100%
   );

   & > div {
     width: 100%;
     max-width: $content-w; 
     padding: 0 20px;
   }

   h1 {
      color: $text-color;
      text-shadow: $text-shadow;
   }

   form {
      background: #eee;
      border-radius: 5px;
      padding: 15px;
      box-shadow: $form-shadow;
   }

   .count {
      color: $text-color;
      display: flex;
      justify-content: flex-end;
      padding: 0 10px 10px 0;
      text-shadow: $text-shadow;
   }

   .error {
      font-size: 14px;
      color: $danger-color;
      font-weight: bold;
      word-spacing: 0px;
      padding: 5px 0 0 4px;
   }
}

@media screen and (max-width: $tablet-w) {
   .quizCreator button {
      margin-bottom: 8px;
   }
}