$base: 25;
$speed: 1.4;

$style: rgba(21, 114, 201, 0.7);
$colors: #56c7fa, #f76540, #ffcb05, #62cd9f, #b67baa;
$repeat: 15; // Warning: a higher number outputs more CSS.

// dynamic colors
$length: length($colors);
@for $i from 1 through $length {
  $colors: append($colors, darken(nth($colors, $i), 20));
}
// coefs: do not change
$gap: $base * 1.222;
$translate-step: $base * 1.111;

@mixin apply-animation ($keyframes, $duration: $speed) {
   -webkit-animation: $keyframes (#{$duration / $duration}s) infinite ease-in;
   animation: $keyframes (#{$duration / $duration}s) infinite ease-in;
}

@mixin delay($delay) {
   -webkit-animation-delay: $delay;
   animation-delay: $delay
}

body, html {
   height: 100%;
   width: 100%;
   overflow-x: hidden;
}

body {
   margin: 0;
   background: transparent;
}

.loader {
   height: 100%;
   width: 100%;

   & > div {
      position: absolute;
      top: 50%;
      left: 50%;
      width: $gap * 4px;
      height: $gap * 3px;
      margin: 0;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%)
   }
}

@media (max-width: 550px) {
   .loader {
      -webkit-transform: scale(0.75);
      transform: scale(0.75)
   }
}

@media (max-width: 440px) {
   .loader {
      -webkit-transform: scale(0.5);
      transform: scale(0.5)
   }
}

.l_square {
   position: relative;
   @for $i from 0 through 3 {
      &:nth-child(#{$i + 1}) {
         margin-left: (#{$gap * $i}px);
      }
   }

   &:nth-child(1) span {
      @include apply-animation(animsquare1)
   }
   &:nth-child(2) span {
      @include apply-animation(animsquare2)
   }
   &:nth-child(3) span {
      @include apply-animation(animsquare3)
   }
   &:nth-child(4) span {
      @include apply-animation(animsquare4)
   }

   span {
      position: absolute;
      top: 0px;
      left: 20px;
      height: (#{$base}px);
      width: (#{$base}px);
      border-radius: 2px;
      
      // single color
      background: lighten(nth($colors, random(length($colors))), 10%);
      // multiple colors
      @for $i from 1 through $length {
         &:nth-of-type(#{length($colors)}n+#{$i}) {
           background: lighten(nth($colors, random(length($colors))), 10%);
         }
      }

      @for $i from 0 through 2 {
         &:nth-child(#{$i + 1}) {
            top: (#{$gap * $i}px);
            @include delay(0.15s * $i)
         }
      }
   }
}

@mixin transform-from {
   -webkit-transform: translate(0px, 0px) rotate(0deg);
   transform: translate(0px, 0px) rotate(0deg)
}

@mixin transform-to {
   -webkit-transform: translate(-(#{$translate-step}px), 0px) rotate(-90deg);
   transform: translate(-(#{$translate-step}px), 0px) rotate(-90deg)
}

@-webkit-keyframes animsquare1 {
   0%, 5%, 95%, 100% {
      @include transform-from
   }
   30%, 70% {
      @include transform-to
   }
}

@keyframes animsquare1 {
   0%, 5%, 95%, 100% {
      @include transform-from
   }
   30%, 70% {
      @include transform-to
   }
}

@-webkit-keyframes animsquare2 {
   0%, 10%, 90%, 100% {
      @include transform-from
   }
   35%, 65% {
      @include transform-to
   }
}

@keyframes animsquare2 {
   0%, 10%, 90%, 100% {
      @include transform-from
   }
   35%, 65% {
      @include transform-to
   }
}

@-webkit-keyframes animsquare3 {
   0%, 15%, 85%, 100% {
      @include transform-from
   }
   40%, 60% {
      @include transform-to
   }
}

@keyframes animsquare3 {
   0%, 15%, 85%, 100% {
      @include transform-from
   }
   40%, 60% {
      @include transform-to
   }
}

@-webkit-keyframes animsquare4 {
   0%, 20%, 80%, 100% {
      @include transform-from
   }
   45%, 55% {
      @include transform-to
   }
}

@keyframes animsquare4 {
   0%, 20%, 80%, 100% {
      @include transform-from
   }
   45%, 55% {
      @include transform-to
   }
}