@import "../../assets/scss/utils/variables";

.Quiz {
   display: flex;
   justify-content: center;
   padding-top: 100px;
   flex-grow: 1;
   width: 100%;
   background: $grad-bg;

   h1 {
      color: $text-color;
      margin-left: 10px;
   }
}

.wrapper {
   width: 600px;
}