@import "../../assets/scss/utils/variables";

.Quiz {
   display: flex;
   justify-content: center;
   padding-top: 100px;
   flex-grow: 1;
   width: 100%;
   background: linear-gradient(
      90deg,
      #007A7C 0%,
      #00A4A6 50%,
      #009FD4 100%
   );

   h1 {
      color: $text-color;
      text-shadow: $text-shadow;
      margin-left: 10px;
   }
}

.wrapper {
   width: $content-w;
}