@import "../../assets/scss/utils/variables";

.quizlist {
   display: flex;
   justify-content: center;
   padding-top: 100px;
   flex-grow: 1;
   width: 100%;
   background: linear-gradient(
      90deg,
      rgb(202, 88, 202) 0%,
      rgb(117, 156, 228) 60%,
      rgb(145, 229, 235) 100%
   );

   h1 {
      color: #fff;
      text-shadow: $text-shadow;
   }

   ul {
      list-style: none;
      margin: 0;
      padding: 0;
   }

   li {
      margin-bottom: 10px;
      font-size: 23px;
      text-align: center;
   }

   a {
      text-decoration: none;
      color: #fff;
      text-shadow: $text-shadow;

      &:hover {
         text-shadow: none;
      }
   }

   .createQuiz {
      display: block;
      text-align: center;
      font-size: 25px;
      position: relative;
      animation: flit 5s ease-in-out 1.5s infinite;
   }
}

@keyframes flit {
   0% {
      top: 0;
      left: 0;
   }

   25% {
      left: 15px;
   }

   50% {
      top: 30px;
   }

   75% {
      left: -15px;
   }

   100% {
      top: 0;
      left: 0;
   }
}