@import "../../../assets/scss/utils/variables";

.item {
   background:rgba(0, 122, 124, 0.8);
   border: 1px solid $text-color;
   border-radius: 5px;
   padding: 5px 10px;
   margin-bottom: 5px;
   cursor: pointer;

   &:hover {
      background: $answer-hover;
      transition: background .3s ease-in-out;
   }
}

.correct {
   background-color: $success-color;
}

.incorrect {
   background-color: $fail-color;
}